<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capa</title>
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/capa.css">
</head>
<body>
    <div class="page cover-page">

        <div class="cover-header">
            <img src="data:image/png;base64,{{ logo_base64 }}" alt="{{ empresa_nome }}">
        </div>

        <div class="cover-badge-wrapper">
            <div class="cover-badge">ORÇAMENTO</div>
        </div>

        <h1 class="client-name-cover">{{ cliente_nome }}</h1>

        <div class="cover-image-container">
            <img class="cover-main-image" 
                 src="data:image/png;base64,{{ fundo_base64 }}" 
                 alt="Imagem de Capa">
        </div>
        
        <div class="cover-footer-wrapper">
            <div class="cover-footer">{{ data_hoje }}</div>
        </div>
    </div>
</body>
</html>